/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  position: relative;
  min-height: 700px;
  padding: 4rem 0;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  background-image: url('./bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 2300px) {
  .heroBanner {
    background-position: center top;
    background-size: auto 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
